<div class="card">
    <div class="card-header">
        <h4><a href="/post/{{id}}">{{title}}</a></h4>
        <p>Posted by {{user.username}} on {{format_date created_at}}</p>
    </div>
        <p class="card-body">{{content}}</p>
</div>

{{!-- <article class="post">
  <div class="title">
    <a href="{{post_url}}" target="_blank">{{title}}</a>
    <span>({{format_url post_url}})</span>
  </div>
  <div class="meta">
    {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article> --}}